# Bootloader entry order; do not sort.
infiniti-24831-canoe-overlay-t0.dtbo
infiniti-24863-canoe-overlay-t0.dtbo
infiniti-24863-canoe-overlay-pre-t0.dtbo
infiniti-24831-canoe-overlay-pre-t0.dtbo
infiniti-24863-canoe-overlay-evb.dtbo
infiniti-24831-canoe-overlay-production.dtbo
infiniti-24863-canoe-overlay-production.dtbo
infiniti-24831-canoe-overlay-evb.dtbo
